<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hospital Management System</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/stylesheet.css')}}">
    <script type ="text/javascript" src="{{url_for('static',filename='script/javascript.js')}}"></script>
  </head>
  <body>
    <div class="header">
      <div class="header-logo"><img class="logo" src="{{url_for('static',filename='images/logo.jpg')}}"></div>
      <div class="snag">Astro Healthcare</div> 
      <div class="header-list">
        <ul>
          <li><a href="#contactus" onclick="contactus()">Contact us</a></li>
          <li><a href="#aboutus">About</a></li>
          <li><a href="#specialities">Specialites</a></li>  
        </ul>
      </div>
    </div>
      
<div class="navbar">
<nav role="navigation">
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">Departments</a>
      <ul class="dropdown">
        <li><a href="#orthology">Orthology</a></li>
        <li><a href="#dental">Dental</a></li>
        <li><a href="#cardiology">Cardiology</a></li>
        <li><a href="#xray">Xray</a></li>
        <li><a href="#blood">Blood</a></li>
        <li><a href="#eyecare">Eyecare</a></li>  
      </ul></li>
  <li><a href="#emergency" onclick="emergency()">Emergency</a></li>
  <li><a href="#appointment" onclick="appointment()">Appointment Booking</a></li>
  <li><a href="#doctors">Doctors</a></li>
  </li>
      <li style="float:right; background:red;" >
       <a href="#signup"              onclick="signup()">Signup</a>
 </li>
  <li style="float:right; background:orange;">
    <a href="#login" onclick="login()">Login</a>
 
  </ul>
</nav>
</div>
  <div class="Emergency" id="emergency">
    <h3 class="section-title">Emergency Procedures</h3>
    Use CPR when an adult is not breathing or when they are only gasping occasionally, and when they are not responding to questions or taps on the shoulder.</br>

  In children and infants, use CPR when they are not breathing normally and not responding.</br>

<h5>Check that the area is safe, then perform the following basic CPR steps:</h5>
<ul>
  <li>Call 911 or ask someone else to.</li>
  <li>Lay the person on their back and open their airways.</li>
  <li>Check for breathing. If they are not breathing, start CPR.</li>
  <li>Perform 30 chest compressions.</li>
  <li>Perform two rescue breaths.</li>
<li>Repeat until an ambulance or automated external defibrillator (AED) arrives.</li>
    
</ul>  
</br>
<center><img src="{{url_for('static',filename='images/cpr.jpg')}}"></center>
    
  </div>
 <div class="login-form" id="login">
      <center>  <h3 class="section-title">Login</h3>
        <p>Email (Required)</p>
       
        <input id="email">
        
        <p>Password (Required)</p>
       
        <input id="password">
        
        <p>* Required fields must be filled</p>
       
        <input class="login-submit" type="submit" value="Login" onclick="validatelogin(); vlogin();">
   </center>
    </div>
    <div class="signup-form" id="signup">
  <center>      <h3 class="section-title">Sign Up</h3>
      <p>Name (Required)</p>
      <input id="Name">
      <p>Mobile no. (Required)</p>
      <input id="Mob">
        <p>Email (Required)</p>
       
        <input id="Email">
        
        <p>Password (Required)</p>
       
        <input id="Password">
        
        <p>* Required fields must be filled</p>
       
        <input class="signup-submit" type="submit" value="Sign Up" onclick=" validatesignup(); vsignup();">
      </center>  
    </div>
    <div class="main">
      <div class="copy-container">
       <center> <h1>STAY HOME<span>,</span>STAY SAFE<span>.</span></h1>
        <h2>We keep you safe<span>.</span></h2>
        </center>
      </div>
      <div class="about" id="aboutus">
        <h3><u>About us</u></h3> Welcome to the comforting world of Astro Healthcare. Where the medical treatment is truly world-class. Where Medical Value Travel is truly value. Where patient caring is warm and sensitive to your needs. Where your total experience leaves you with very pleasant memories.
One of India's leading tertiary level healthcare groups, Astro comprises a network of 12 hospitals with a bed capacity of 1803 beds and 12 Heart Command Centres. Following the acquisition of the renowned Escorts Healthcare System, Fortis operates one of the world's largest Cardiac programmes. The group's Fortis Hospital at Noida, next-door to Delhi, is India's foremost tertiary care facility in Orthopaedics and Neuro Sciences. The group also performs cutting edge surgeries in various specialities ranging from cosmetology, woman & child health, ophthalmology, dental, ENT, urology, and minimal invasive surgery. Our facilities ensure that there is genuine Medical Value in health travel to India.</br>
      <h4>WHY INDIA <span>?</span></h4>

India is fast becoming the world's first choice destination for healthcare services - especially cardiac surgery. With rapidly expanding infrastructure, clinical expertise and international standard implementation, India is servicing the healthcare needs, at reasonable costs, of international patients from around the world. Cardiac Surgery and other Surgery Costs are among the most affordable in the world.
In recent years many countries have experienced a shortage of speciality care providers, which has restricted their access to quality and cost effective medical care. In sharp contrast India has concentrated on increasing the availability of speciality cares thereby avoiding the shortage of medical professionals. In fact, the availability of clinical expertise, reasonable Cardiac Surgery and other Surgery Costs are among the most affordable in the world, and internationally trained and educated medical professionals is a major factor in the growth of foreign patient procedures in India.
      </div>
  <div class="doctors" id="doctors">
    <h3 class="section-title">Our Doctor's advice on the coronavirus pandemic</h3>
    <h4> Wash your hands frequently</h4>
Regularly and thoroughly clean your hands with an alcohol-based hand rub or wash them with soap and water.</br>

<b>Why?</b> Washing your hands with soap and water or using alcohol-based hand rub kills viruses that may be on your hands.

<h4>Maintain social distancing</h4>
Maintain at least 1 metre (3 feet) distance between yourself and anyone who is coughing or sneezing.</br>

    <b>Why?</b> When someone coughs or sneezes they spray small liquid droplets from their nose or mouth which may contain virus. If you are too close, you can breathe in the droplets, including the COVID-19 virus if the person coughing has the disease.</br>



<h4>Avoid touching eyes, nose and mouth</h4>
  <b>Why?</b> Hands touch many surfaces and can pick up viruses. Once contaminated, hands can transfer the virus to your eyes, nose or mouth. From there, the virus can enter your body and can make you sick.

    <h4>Practice respiratory hygiene</h4>
Make sure you, and the people around you, follow good respiratory hygiene. This means covering your mouth and nose with your bent elbow or tissue when you cough or sneeze. Then dispose of the used tissue immediately.</br>

    <b>Why? </b>Droplets spread virus. By following good respiratory hygiene you protect the people around you from viruses such as cold, flu and COVID-19.

    <h4>If you have fever, cough and difficulty breathing, seek medical care early</h4>
    Stay home if you feel unwell.</br> If you have a fever, cough and difficulty breathing, seek medical attention and call in advance.</br> Follow the directions of your local health authority.</br>

    <b>Why?</b> National and local authorities will have the most up to date information on the situation in your area. Calling in advance will allow your health care provider to quickly direct you to the right health facility. This will also protect you and help prevent spread of viruses and other infections.</br>



    <h4>Stay informed and follow advice given by our doctors:</h4>
Stay informed on the latest developments about COVID-19. Follow advice given by your healthcare provider, your national and local public health authority or your employer on how to protect yourself and others from COVID-19.</br>

    <b>Why?</b> National and local authorities will have the most up to date information on whether COVID-19 is spreading in your area. They are best placed to advise on what people in your area should be doing to protect themselves.

 


    </div>
      <div class="contents">
        <h3 class="section-title">Facilities</h3>
        <div class="contents-item">
          <img src="{{url_for('static',filename='images/unnamed.jpg')}}">
          <p><center><b>Abmulance Services</b></center></p>
        </div>
        <div class="contents-item">
          <img src="{{url_for('static',filename='images/pharmacy.jpg')}}">
          <p><center><b>Pharmacy</b></center></p>
        </div>
        <div class="contents-item">
          <img src="{{url_for('static',filename='images/Multispeciality.jfif')}}">
          <p><center><b>Multispeciality</b><center></p>
        </div>
        <div class="contents-item">
          <img src="{{url_for('static',filename='images/emergency.jpg')}}">
          <p><center><b>Ward emergencies</b></center></p>
        </div>
      </div>
      <br>
      <div class="specialities" id="specialities">
        <h3 class="section-title">Department of Specialities</h3>
        <div class="cardiology" id="cardiology">
          <h4>Department of cardiology</h4>
          Cardiovascular disease (CVD) is often interchangeably used with the term heart disease. Astro Institute of Heart and Vascular Sciences, which is one of the best heart hospitals in India provides treatment for conditions like heart defects, congenital heart disease, pulmonary heart failure, and coronary artery diseases.

We are a tertiary care centre equipped with cutting edge technology to offer cardiac care program to our patients. We also offer an alternative treatment for end-stage heart failure patients with procedures like Pacemaker, ACD, CRT, Heart Hole surgeries (ASD, VSD, PDA), Paediatric Cardiac Surgery, Angioplasty/Angiography.

Our Institute is a one-stop destination for several kinds of cardiac treatments like Invasive and Interventional Cardiology, Electrophysiology, pacemaker and Arrhythmia services, management of abdominal and descending thoracic aneurysm and varicose veins.

Our hospitals are equipped with state of the art Cath Labs, operation theatres, and several other heart care technologies.

          <h5>What is Cardiology?</h5>
 

Derived from the Greek words, “Cardia” meaning heart and “logy” that means “study of”, cardiology is the branch of medicine that deals with the defects and diseases associated with the heart. Such diseases are managed by cardiologists. Astro Hospitals have team of best cardiologists in India. The surgery, however, is performed by heart surgeons who specialize in surgical procedures to correct heart problems.

At Astro Hospitals, we use the latest technologies and methodologies to be the best cardiac hospital in India.
        </div>
        <div class="orthology" id="orthology">
          <h4>Department of Orthology</h4>
          Astro Institute of Musculoskeletal Sciences offers comprehensive care for several Orthopaedic afflictions including knee, hip, and joint problems. We are dubbed as the top orthopedic Hospital in India and are equipped with a wide array of specialties ranging from Sports Medicine, Paediatric orthopaedic services, arthritis Diagnosis to Treatment and Pain Management. We focus on providing the highest level of patient care with professional expertise for early mobilization and have taken orthopedic Treatment in Delhi to an altogether different level.
          </br>
We perform procedures like Computer Assisted Joint Replacement Surgery, Arthroscopic Surgery, Traumatic Orthopaedic Surgery, Hand, Shoulder & Elbow Surgery, Spine Surgery, Articular Surface Replacement Hip Surgery, Foot & Ankle Surgery, Total Knee & Hip Replacement Surgery among several others.
          </br>
Our Astro Super Speciality Hospital, Mohali is equipped with a digital Orthopaedic operating suite. The joint implants are planned pre-operatively for perfect size and positioning as per the anatomy of the patient, thereby safeguarding the patients. Our wide range of offerings have made us rank among the best hospitals in India.

<h4>Conditions and Treatments Offered</h4>
          <h5>Disc Replacement Surgery</h5>
Any unremitting lower back pain that has been there from at least six months and is not getting better from medication may require disc replacement surgery to restore one’s ability to function. The painful disc is replaced with a prosthetic implant with an aim to bring back normal function. There are certain health conditions that can prevent one from getting a disc replacement surgery. These conditions include osteoporosis, spinal tumor, pregnancy, vertebral body fracture and allergy to the materials in the artificial implant.
          </br>
A successful disc replacement surgery increases motion, improves lifestyle of patient, while relieving the pain. Orthopedic treatment in India has reached a new bar and patients are now receiving world-class care and treatment. We at Max Healthcare believe in offering the patients right treatment and care straight from day 1 to the discharge day. We also help the patients in knowing if they are the right candidates for a disc replacement surgery. The right candidate should have no previous history of a disc surgery, should not be suffering from osteoporosis, should not have any spinal deformity, should be in good health, should not be overweight, no history of arthritis or spinal infection and should have undergone at least a month of non-surgical treatment. So, if you are planning to undergo orthopedic treatment in Delhi, look no further than us.

          <h5>Total Knee Replacement Surgery</h5>
If a patient’s knee is sternly damaged by arthritis or because of any injury, it may be difficult for them to perform everyday activities, such as climbing stairs or walking. After a period, they may even begin to feel pain while sitting or lying down. When non-surgical treatments like use of walking supports and medications prove no longer to be helpful, the doctor may advise the patient to undergo a total knee replacement surgery. It is a safe procedure that helps in pain relief, corrects leg deformity and helps the patient resume normal activities.


        </div>
        <div class="dental" id="dental">
          <h4>Department of Dental Sciences</h4>
          A good dental care means regularly brushing and flossing your teeth, going for frequent dental check-ups, and consuming a healthy diet. Practicing these habits will prevent your gums from getting damaged, control bad breath, and increase the life of your teeth.</br>

The common ailments that require dental care are bad breath, caries or cavities, gingivitis or gum diseases, abscesses, loosening of tooth, leukoplakia or white patches and cancer of the mouth. At Max Healthcare, we offer dental care with Implantology, Invisible Braces, Laser Dentistry (painless soft tissue treatment), Paediatric Dentistry, and a painless root canal treatment to patients.

          ,<h5>What is Plaque?</h5>

The main factor which causes tooth decay and gum disease is plaque. Plaque is a sticky combination of bacteria and food which starts to build up on teeth within 20 minutes after a person eats. If teeth are not cleaned well each day, plaque then causes tooth decay. If a person fails to remove plaque, it turns into a hard deposit known as tartar that becomes trapped at the base of the tooth. Plaque and tartar, inflame and irritate the gums. Bacteria and the toxins they produce can cause the gums to become infected, swollen, and tender.

          <h5>The formation of plaque and tartar leads to several other problems such as:</h5>

        <b> Cavities - </b>which are holes that destroy the structure of the teeth</br>
<b>Gingivitis -</b> causes inflammation and bleeding gums and is usually a result of a bacterial infection</br>
  <b> Bad breath - </b>which is also known as halitosis</br>
<b>Periodontitis -</b> the destruction of the bone and ligaments that support the teeth, often leading to tooth loss</br>
Abscesses, pain, and inability to use teeth
Health issues outside the mouth, ranging from preterm labour to heart disease
By taking good care of gums and teeth, the formation of plaque can be prevented, thereby keeping diseases of teeth away.

          <h5>Why Is Basic Dental Care Important?</h5>

Prevents tooth decay</br>
Makes smile attractive</br>
Avoids gum disease, which can cause damage to the gum tissue and the bones that support teeth, and in the long term can lead to the loss of teeth</br>
Shortens time with the dentist and dental hygienist and makes the trip more pleasant</br>
By avoiding tooth decay and gum disease, one can reduce the requirement for fillings and other costly procedures</br>
Brushing and flossing regularly helps getting rid of the bacteria that lead to bad breath</br>
Keeps teeth white by avoiding staining from food, drinks, and tobacco</br>
Makes the teeth last a lifetime</br>
Improves overall health</br>
<h5>Dental Treatment Options</h5>

At Astro Healthcare, we offer dental treatment with Implantology, invisible braces, laser dentistry (painless soft tissue treatment), paediatric dentistry, and a painless root canal to patients. Our dental clinic in India has the best doctors and state-of-the-art technologies like Dental RVG, Digital Orthopantomogram and Dental Implants, we cater to patients’ preventive and primary healthcare requirements. Our dental hospital offers the best dental treatment in India.
        </div>
         <div class="blood" id="blood">
          <h4>Department of Blood</h4>
           Blood test department (Phlebotomy) 
A blood test is taking a sample of blood for testing in a laboratory. Blood tests have a wide range of uses and are one of the most common type of medical tests.

           <h5>For example, a blood test can be used to:</h5>

assess your general state of health
           confirm the presence of a bacterial or viral infection</br>
see how well certain organs, such as the liver and kidneys, are functioning</br>
screen for certain genetic conditions</br>
Please remember we can only perform a blood test if you bring your request forms with you.  If your GP referred you please check that your current GP’s name and address are listed on the referral form to ensure results are sent correctly.


        </div>
         <div class="xray" id="xray">
          <h4>Department of Xray</h4>
           <h4 style="color:green;">Why is an X-ray performed?</h4>
           <h5>Your doctor may order an X-ray to:</h5>

Examine an area where you’re experiencing pain or discomfort
monitor the progression of a diagnosed disease, such as osteoporosis
           <h5>Conditions that may call for an X-ray include:</h5>
<ol>
  <li>bone cancer</li>
  <li>breast tumors</li>
  <li>enlarged heart</li>
  <li>blocked blood vessels</li>
  <li>conditions affecting your lungs</li>
  <li>digestive problems</li>
  <li>fractures</li>
  <li>infections</li>
<li>osteoporosis</li>
  <li>arthritis</li>
  <li>tooth decay</li>
<li>needing to retrieve swallowed items</li>
           </ol>
        </div>
         <div class="eyecare" id="eyecare">
          <h4>Department of Eyecare</h4>
           
Commonest eye problem affecting a large number of people. Vision correction is possible to treat with LASIK procedure and one can remove spectacles.

<h5>Diabetic Retinopathy</h5>
It is due to diabetes, retina get damaged in this condition. Diagnosis can be done by FFA, OCT and laser treatments are available for this condition.

If a person notices any trouble with vision, they can consult an eye hospital in India for a diagnosis. In case, their result shows the presence of an eye defect, getting early treatment is the best step to ensure a healthy vision.

           <h5>Treatments</h5>

We at Astro Healthcare, have state-of-the-art clinical care and infrastructure that help us in providing best eye care and treatment to our patients. We offer LASIK (Wave Front & Standard LASIK), Glaucoma Diagnostic Surgery, Eye Ultrasound, Lasers, Squint Surgery, Cornea Diagnostic & Surgery, Retina and Vitreous Diagnostics, and plastic surgery of the eye, low vision aids, Paediatric Ophthalmology, and comprehensive eye examination to our patients.

Renowned as the best eye hospital in India, we also conduct Speciality OPDs for eye care to look after the patients’ preventive and primary healthcare requirements.


        </div>
        </div>
      <div class="appointment-form" id="appointment">
      <center>  <h3 class="section-title">Book Appointment</h3>
        <p>Name (Required)</p>
       
        <input id="aname">
        
        <p>Mobile (Required)</p>
        <input id="amob">
        
        <p>Description about your problem (Required)</p>
        <textarea id="adescription"></textarea>
        </br>    
        <div class="dropdown">
  <button class="dropbtn">Select Time Slot</button>
  <div class="dropdown-content">
    <a href="#b"onclick="validateappointment()">11am-12pm</a>
    <a href="#b"onclick="validateappointment()">2pm-3pm</a>
    <a href="#b"onclick="validateappointment()">5pm-6pm</a>
    <a href="#b"onclick="validateappointment()">7pm-8pm</a>
  </div>
</div>
        
        <p>* Required fields must be filled</p>
       
        <input class="appointment-submit" id="b" type="submit" value="Send Appointment Request" onclick="validateappointment(); vappointment();"></center>
        
      </div>
      <div class="contact-form" id="contactus">
        <h3 class="section-title">Contact us</h3>
        <p>Email (Required)</p>
       
        <input id="emaiL">
        
        <p>Message (Required)</p>
       
        <textarea id="description"></textarea>
        
        <p>* Required fields must be filled</p>
       
        <input class="contact-submit" type="submit" value="Send Feedback" onclick="validatecontact(); vcontactus();">
        
      </div>
    </div>

    <div class="footer">
      <div class="footer-logo">Astro Healthcare</div>
      <div class="footer-list">
        <ul>
          <li><a href="#aboutus">About</a></li>
          <li><a href="#" onclick="job()">Jobs</a></li>
          <li><a href="#contactus" onclick="contactus()">Contact us</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>